.sidenav {
  background-color: #526061;
  color: #fff;
  width: 28px;
  transition: all 0.1s;
  position: relative;
  padding-right: 0;
  border-right: solid 4px #4cbe82;

  &-content {
    display: none;

    .show & {
      display: block;
    }
  }

  &.show {
    width: 270px;
    max-width: 270px;
  }

  &-toggle {
    position: absolute;
    top: 4px;
    right: -20px;
    background-color: #4cbe82;
    border: solid 3px #4cbe82;
    border-radius: 0.25rem;
    cursor: pointer;

    button {
      display: inline-block;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      background-color: #004431;
      line-height: 1.75;
      cursor: pointer;
      outline: none;
      padding: 3px 8px;
    }

    .bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #fff;
      margin: 5px 0;
      transition: 0.4s;
    }
  }

  a {
    color: #fff;
  }

  &-vertical {
    display: block;
    background-color: #4cbe80;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding-top: 60px;
    padding-left: 12px;
    color: #024231;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;

    .show & {
      display: none;
    }
  }

  &-menu {
    padding: 10px 0;

    a {
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      padding: 0.8em 0.75em;
      display: block;

      &.active {
        background-color: #006a4c;

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-top: 22px solid transparent;
          border-left: 15px solid #006a4c;
          border-bottom: 22px solid transparent;
          position: absolute;
          top: 0;
          right: -15px;
        }
      }

      &:not(.active):hover {
        color: #fff;
        background-color: #394344;
      }
    }

    li,
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li ul {
      padding-left: 0;
      display: none;

      a {
        background-color: #a9b3b5;
        color: #000;
        font-size: 0.9rem;
        text-transform: none;
        padding-left: 15px;

        &:not(.active):hover {
          background-color: #979fa2;
          color: #000;
        }
      }
    }

    li.show {
      > a {
        background-color: #394344;
      }

      ul {
        display: block;

        a.active {
          color: #fff;

          &::after {
            border-top-width: 20px;
            border-bottom-width: 20px;
          }
        }
      }
    }

    a#{&}-toggle::after {
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='white' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'></path></svg>");
      position: absolute;
      width: 10px;
      height: 10px;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.1s;
    }

    li.show a#{&}-toggle::after {
      transform: rotate(180deg);
    }

    .badge {
      color: #fff;
      background-color: #e43d3f;
      border-radius: 50%;
      position: absolute;
      right: 45px;
      font-size: 0.8rem;
      width: 10px;
      height: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }

    li ul .badge {
      right: 15px;
      height: unset;
      width: unset;
      padding: 4px 8px;
      border-radius: 0.25rem;
    }
  }
}

.site-select {
  background-color: #4cbe82;
  padding: 8px;

  .dropdown {
    width: 90%;
  }
}

.dropdown {
  position: relative;

  &-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    font-weight: 700;
    color: #2c6d5c;
    text-align: left;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 8px 15px;
    font-size: 0.9rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
    outline: none;

    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.3em;
      vertical-align: middle;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
    }
  }

  &-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    will-change: transform;
    transform: translate3d(0, 1.5rem, 0);
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;

      &-track {
        border-radius: 0 0 0.25rem 0;
        background-color: #fff;
      }

      &-thumb {
        background: #006a4c;
      }
    }
  }

  &.show &-menu {
    display: block;
  }

  &-item,
  a#{&}-item {
    color: #195c4b;
    display: block;
    padding: 0.3rem 0.75rem;
    background-color: transparent;
    border: 0;

    &.active {
      font-style: italic;
      font-weight: 700;
    }

    &:hover {
      color: #fff;
      background-color: #006a4c;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidenav {
    position: absolute;
    top: 0;
    border-right: none;
    width: 100%;

    &-toggle {
      top: 17px;
      right: 17px;
      border: none;
    }

    .site-select {
      border-bottom: solid 4px #4cbe82;
      padding: 16px;
      background-color: #006a4c;
    }

    &-menu a.active::after {
      display: none;
    }

    &.show {
      width: 100%;
      max-width: 100%;

      .bar:nth-child(1) {
        transform: rotate(-45deg) scaleX(1.5) translate(-3px, 5px);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(45deg) scaleX(1.5) translate(-3px, -5px);
      }
    }

    &-vertical {
      display: none;
    }
  }
}
